<div class="pro-coloumn">
    <article class="col-main">
        <div class="toolbar">
            <div class="sorter">
                <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span><a href="list.html" title="List" class="button-list">&nbsp;</a> </div>
            </div>


        </div>
        <h1>Product manager</h1>
        <div class="category-products" *ngFor='let product of products'>
            <ul class="products-grid">
                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                    <div class="item-inner">
                        <div class="item-img">
                            <div class="item-img-info">
                                <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src={{product.img}} alt="Retis lapen casen"></a>

                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"></button>
                                        </div>
                                        <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="info-inner">
                                <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">{{product.name}}</a> </div>
                                <div class="item-content">
                                    <div class="rating">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div class="rating" style="width:80%"></div>
                                            </div>
                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box"><span class="regular-price"><span class="price">{{product.price}}</span> </span>
                                        </div>
                                    </div>
                                    <div class="other-info">
                                        <div class="col-km"><i class="fa fa-tachometer"></i>{{product.km}}</div>
                                        <div class="col-engine"><i class="fa fa-gear"></i> {{product.engine}}</div>
                                        <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{product.date}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>


            </ul>
        </div>
        <div class="toolbar bottom">

            <div id="sort-by">
                <label class="left">Sort By: </label>
                <ul>
                    <li><a href="#">Position<span class="right-arrow"></span></a>
                        <ul>
                            <li><a href="#">Name</a></li>
                            <li><a href="#">Price</a></li>
                            <li><a href="#">Position</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
            <div class="pager">
                <div id="limiter">
                    <label>View: </label>
                    <ul>
                        <li><a href="#">15<span class="right-arrow"></span></a>
                            <ul>
                                <li><a href="#">20</a></li>
                                <li><a href="#">30</a></li>
                                <li><a href="#">35</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pages">
                    <label>Page:</label>
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </article>
</div>
<!--	///*///======    End article  ========= //*/// -->