<div class="nav-inner">
    <!-- BEGIN NAV -->
    <ul id="nav" class="hidden-xs">
        <li class="active"> <a class="level-top"><span>Home</span></a></li>

        <li class="level0 parent drop-menu"> <a class="level-top" [routerLink]="['ProductList']"><span>Listing‎</span></a>
            <ul class="level1">
                <li class="level1 first"><a href="grid.html"><span>Car Grid</span></a></li>
                <li class="level1 nav-10-2">
                    <a href="list.html"> <span>Car List</span> </a>
                </li>

            </ul>
        </li>

        <li class="level0 parent drop-menu"><a routerLink='productManager'><span>Product Manager</span> </a>
            <!--sub sub category-->

        </li>
        <li class="fl-custom-tabmenulink mega-menu">
            <a href="#" class="level-top"> <span>Sale up</span> </a>

        </li>
    </ul>
    <!--nav-->
</div>